
<table class="table caption-top">
    <caption>Schemu sarasas</caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nuotrauka</th>
        <th scope="col">Aprasymo id</th>
      </tr>
    </thead>
    <tbody *ngFor="let record of records; let i = index">
      <tr>
        <th scope="row">{{i+1}}</th>
        <td>{{record.img}}</td>
        <td>{{record.AprasymasId}}</td>

        <td *ngIf="isAdmin==true;">
          <button class="btn btn-banger form button" (click)="onDelete(record.id)">Delete
          </button>
        </td>
        <td *ngIf="isAdmin==true;">
          <button class="btn btn-banger form button"  [routerLink]="['/schema', record.id]">Update
          </button>
        </td>
      </tr>

    </tbody>
  </table>
  <button *ngIf="isUser==true;" type="submit" class="btn btn-outline-dark" style="margin: 10px;" (click)="addNew()">Add new</button>
