<form [formGroup]= "addPartForm"  (ngSubmit) = "onSubmit()" novalidate>

    <div class="form-floating auto-form-input">
      <input type="text" id="name" name="name" formControlName="name" class="form-control">
      <label for="name" class="form-label">Pavadinimas</label>
      <p *ngIf="registerFormControl['name'].touched && registerFormControl['name'].errors">name can't be empty</p>
    </div>
    <div class="form-floating">
      <input type="text" id="type" name="type" formControlName="type" class="form-control">
      <label for="type" class="form-label">Tipas</label>
      <p *ngIf="registerFormControl['type'].touched && registerFormControl['type'].errors">type can't be empty</p>
    </div>
    <div class="form-floating">
      <input type="text" id="description" name="description" formControlName="description" class="form-control">
      <label for="description" class="form-label">Aprasymas</label>
      <p *ngIf="registerFormControl['description'].touched && registerFormControl['description'].errors">description can't be empty</p>
    </div>
    <div class="form-floating">
      <input type="text" id="dalisId" name="dalisId" formControlName="dalisId" class="form-control">
      <label for="dalisId" class="form-label">Dalies id</label>
      <p *ngIf="registerFormControl['dalisId'].touched && registerFormControl['dalisId'].errors">dalisId date can't be empty</p>
    </div>
    <p><button class="btn btn-success add-record-button" type="submit">{{submitButton}}</button></p>
    </form>
